body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
  color: rgba(8,8,16);
  text-decoration: none;
}
#navbar {
  display: flex;
  list-style-type: none;
  padding: 20px;
  margin: 0;
  gap: 15px;
  background-image: linear-gradient(to right, red, orange, yellow, lime, green, lightblue, blue, pink, purple);
}
#navbar a {
    color: rgb(0, 0, 0);
    display: inline-block;
  transition: transform 1.5s ease;
}
#navbar a:hover {
  transform: scale(1.13);
  transition-duration: 1.5s;
}
